fastapi
uvicorn
gunicorn
starlette
pydantic
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
pydantic_settings
alembic
passlib
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
aiosqlite
email-validator
structlog